---
import { Icon } from 'astro-icon/components';

const { title, offers, price } = Astro.props;
---

<div
  class="flex flex-col w-80 shadow-2xl w-full transition-all duration-300 ease-out hover:shadow-red-900/50 hover:scale-105"
>
  <div
    class="flex justify-between items-center bg-linear-to-r from-red-700 to-red-900 p-4 rounded-t-sm"
  >
    <h3 class="text-white">{title}</h3>
    <h3 class="text-white">{price}€ / an</h3>
  </div>
  <div class="flex flex-col gap-2 p-4">
    {
      offers.map((offer: string) => (
        <div class="flex items-center gap-2">
          <Icon name="mdi:check" />
          <p>{offer}</p>
        </div>
      ))
    }
  </div>
</div>
