@import "tailwindcss";

html {
  overflow-y: scroll;
  color-scheme: light;
  background: #241919;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(19, 20, 20) 50%,
    rgb(0, 0, 0) 100%
  );
  font-family: "Exo 2", sans-serif;
}

/** Light theme particles on home page */
@keyframes animateParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/** styles for public /animation.js */
.animate {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  z-index: 0;
}

.animate.show {
  opacity: 1;
  transform: translateY(0);
}
