@import "tailwindcss";

html {
  overflow-y: scroll;
  color-scheme: light;
  background: linear-gradient(
    90deg,
    rgb(37, 14, 14) 0%,
    rgb(19, 20, 20) 50%,
    rgb(58, 21, 21) 100%
  );
  font-family: "Special Gothic Expanded One", sans-serif;
}

/** Light theme particles on home page */
@keyframes animateParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/** styles for public /animation.js */
.animate {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  z-index: 0;
}

.animate.show {
  opacity: 1;
  transform: translateY(0);
}

@theme {
  --font-title: "Special Gothic Expanded One", sans-serif;
}

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  p {
    font-family: "Montserrat", sans-serif;
  }
}
