---
import imageEquipe from '../../images/competition.webp';
import imageIndiv from '../../images/entrainement-alex.webp';
---

<div class="flex flex-col px-10 lg:px-20 py-10 items-center gap-10">
  <div
    class="flex flex-col lg:flex-row lg:flex-row-reverse items-center gap-10"
  >
    <div class=`flex flex-col gap-4 h-full`>
      <h2 class="text-red-700">Championnats par équipe</h2>
      <p>
        Le club permet à tous les joueurs de participer à des compétitions,
        adapté à tous les niveaux. Le club engage chaque année 5 équipes en
        championnat départemental par équipes, des équipes en championnat jeunes
        et également une équipe féminine au niveau départemental. Tous les
        joueurs souhaitent faire de la compétition sont acceptés peu-importe le
        niveau, les équipes de D4 sont parfaite pour commencer la compétition en
        tant que débutant.
      </p>
    </div>
    <img
      class="flex-1 lg:max-w-150 max-h-100 object-cover rounded-sm"
      src={imageEquipe.src}
    />
  </div>
  <div class="flex flex-col lg:flex-row items-center gap-10">
    <div class=`flex flex-col gap-4 h-full`>
      <h2 class="text-red-700">Compétitions individuelles encouragées</h2>
      <p>
        Pour les compétitions individuelles, le club prend en charge les frais
        d'inscription des compétitions officielles organisés par le CD76 ou
        autres, comme les championnats individuels ou vétérans. Pour plus
        d'informations, n'hésitez pas à venir en parler à un membre du bureau !
      </p>
    </div>
    <img
      class="flex-1 max-w-150 max-h-100 object-cover rounded-sm"
      src={imageIndiv.src}
    />
  </div>
</div>
