---
import LayoutPages from '../layouts/LayoutPages.astro';
import backgroundImage from "../images/raquette3.jpg"
import { Icon } from 'astro-icon/components';
import { getCollection } from 'astro:content';
import { ArticlesList } from '../components/ArticlesList';

const articles = await getCollection("articles");

---
<LayoutPages pageTitle="Actualités" srcImage={backgroundImage.src} >
    <div class="flex flex-col items-center background-pattern-hexa-white">
        <div class="w-300 bg-white">
            <ArticlesList articles={articles} client:load/>
        </div>
    </div>
</LayoutPages>


