---
import Layout from '../layouts/Layout.astro';
import TrainingSlots from '../components/TrainingSlots.astro';
import TrainingHallLocation from '../components/TrainingHallLocation.astro';
import TrainingTitle from '../components/TrainingTitle.astro';

---

<Layout>
    <div class="flex flex-col gap-10">
        <div class="flex items-center justify-center gap-20 pt-20 pb-10">
            <TrainingTitle/>
            <img class="flex-1 max-w-180 object-cover rounded-md" src="/images/yainville.jpg">
        </div>
        <div>
            <TrainingSlots/>
            <TrainingHallLocation/>
        </div>
    </div>
</Layout>

