---
import TrainingSlots from '../components/entrainements/TrainingSlots.astro';
import TrainingHallLocation from '../components/entrainements/TrainingHallLocation.astro';
import LayoutPages from '../layouts/LayoutPages.astro';
import backgroundImage from '../images/entrainement-3.webp';
import TrainingPresentation from '../components/entrainements/TrainingPresentation.astro';
---

<LayoutPages pageTitle="Entrainements" srcImage={backgroundImage.src}>
  <div class="flex flex-col gap-10">
    <TrainingPresentation />
    <TrainingSlots />
    <TrainingHallLocation />
  </div>
</LayoutPages>
