---
import Layout from '../layouts/Layout.astro';
import TrainingSlots from '../components/TrainingSlots.astro';
import TrainingHallLocation from '../components/TrainingHallLocation.astro';

---

<Layout>
    <div class="flex flex-col gap-10 mx-40 min-h-900 ">
        <div class="flex gap-10">
            <div class="flex-1">
                <TrainingSlots/>
            </div>
            <img class="flex-1 max-w-120 rounded-md object-cover" src="/images/entrainement-salle.jpg">
        </div>
        <TrainingHallLocation/>
    </div>
</Layout>

