---
import Layout from '../layouts/Layout.astro';
import TrainingSlots from '../components/TrainingSlots.astro';
import TrainingHallLocation from '../components/TrainingHallLocation.astro';
import TrainingTitle from '../components/TrainingTitle.astro';
import LayoutPages from '../layouts/LayoutPages.astro';
import backgroundImage from "../images/yainville.jpg";

---

<LayoutPages pageTitle="Entrainements" srcImage={backgroundImage.src}>
    <div class="flex flex-col">
        <TrainingSlots/>
        <TrainingHallLocation/>
    </div>
</LayoutPages>

