---
import Layout from '../layouts/Layout.astro';
import TrainingSlots from '../components/TrainingSlots.astro';
import TrainingHallLocation from '../components/TrainingHallLocation.astro';
import TrainingTitle from '../components/TrainingTitle.astro';
import LayoutPages from '../layouts/LayoutPages.astro';
import backgroundImage from "../images/yainville.jpg";
import Entrainement from '../components/Entrainement.astro';

---

<LayoutPages pageTitle="Entrainements" srcImage={backgroundImage.src}>
    <div class="flex flex-col items-center background-pattern-hexa-white">
        <div class="w-300 bg-white">
            <Entrainement/>
            <TrainingSlots/>
            <TrainingHallLocation/>
        </div>
    </div>
</LayoutPages>

