---
import Carousel from '../components/Carousel.astro';
import Layout from '../layouts/Layout.astro';
import MainTitle from '../components/MainTitle.astro';
import Presentation from '../components/Presentation.astro';
import SectionTeaser from '../components/SectionTeaser.astro';
import JoinUs from '../components/JoinUs.astro';
import HomeCarousel from '../components/HomeCarousel.astro';

import entrainementImage from "../images/entrainement.jpg";
import competitionImage from "../images/competition.jpg";
import CardData from '../components/CardData.astro';
---

<Layout>
    <div class="flex flex-col gap-20">
        <div class="flex items-center justify-center font-title font-thin gap-10 px-20">
            <MainTitle/>
            <HomeCarousel/>
        </div>
        <div>
            <Presentation/>
            <SectionTeaser title="Des entraînements pour tous" description="Plusieurs fois par semaine, les joueurs se retrouvent à la salle pour progresser ensemble, avec l'encadrement d'entraineurs diplômés. Un entrainement spécifique pour les plus jeunes leur permet de découvrir le tennis de table et de développer leur esprit compétitif." imageUrl={entrainementImage.src} linkUrl="/entrainements" reverse/>
            <SectionTeaser title="Des équipes à tout niveaux" description="Le club engage chaque année plusieurs équipes au niveau départemental et régional, pour que chacun des licenciés puisse évoluer à son niveau. Nos jeunes participent au championnat jeune, et une équipe féminime évolue en D1." imageUrl={competitionImage.src} linkUrl="/competitions"/>
            <div class="flex flex-col px-100 py-20 bg-white">
                <div class="flex gap-20">
                    <CardData title="Plus de 75 licenciés" description="dont 45 participant aux compétitions"/>
                    <CardData title="6 équipes engagées" description="dans les championnats régionaux et départementaux"/>
                    <CardData title="2 équipes jeunes" description="inscrites au championnat jeune"/>
                </div>
            </div>
        </div>
        <JoinUs/>
    </div>
</Layout>

