---
import Carousel from '../components/Carousel.astro';
import Layout from '../layouts/Layout.astro';
import Presentation from '../components/Presentation.astro';
import Informations from '../components/Informations.astro';
---

<Layout>
    <div class="flex items-center justify-center font-title font-thin gap-20 px-20">
        <Carousel/>
        <Presentation/>
    </div>
    <Informations/>
</div>
</Layout>

