---
import Button from '../Button.astro';
---

<div class="flex justify-center bg-white w-full">
  <div class="flex flex-col w-300 px-10 lg:px-20 py-20 gap-10">
    <div class="flex items-center gap-30">
      <div class="flex flex-col gap-5">
        <h2 class="text-red-700">Le ping dans la bonne humeur</h2>
        <p class="text-md">
          Le Trait Yainville Pongiste, c’est l’esprit club dans une ambiance
          conviviale ! Que vous soyez débutant ou joueur confirmé, en loisir ou
          en compétition, chacun y trouve sa place. Avec plusieurs créneaux
          d’entraînement et des équipes engagées au niveau départemental et
          régional, vous progressez à votre rythme, tout en prenant du plaisir à
          jouer.
        </p>
      </div>
      <img class="w-100 h-50 rounded-md hidden lg:block" src="/logo.png" />
    </div>
    <div
      class="flex flex-col lg:flex-row gap-4 background-pattern-points-red w-full p-4 rounded-md items-center justify-between"
    >
      <h2 class="text-white text-center lg:text-left">
        Une question ? Nos réseaux-sociaux ?
      </h2>
      <Button text="Nous contacter" link="/contact" />
    </div>
  </div>
</div>
