<div class="flex flex-col gap-2">
    <h2>Prix des licences</h2>
    <div class="bg-white rounded-md">
        <table class="w-full border border-gray-300 text-left bg-gray-200 ">
            <thead class="bg-gray-100 rounded-md" >
            <tr>
                <th class="p-2 border">Catégorie</th>
                <th class="p-2 border">Compétitions</th>
                <th class="p-2 border">Loisirs</th>
            </tr>
            </thead>
            <tbody class="rounded-md">
            <tr>
                <td class="p-2 border">Séniors</td>
                <td class="p-2 border">80€</td>
                <td class="p-2 border ">50€</td>
            </tr>
            <tr>
                <td class="p-2 border">Vétérans</td>
                <td class="p-2 border">80€</td>
                <td class="p-2 border ">50€</td>
            </tr>
            <tr>
                <td class="p-2 border">Junior (né du 01/01/2007 au 31/12/2010)</td>
                <td class="p-2 border">80€</td>
                <td class="p-2 border ">50€</td>
            </tr>
            <tr>
                <td class="p-2 border">Autres catégories enfants (né après le 01/01/2011)</td>
                <td class="p-2 border">50€</td>
                <td class="p-2 border ">50€</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>