<div class="flex flex-col gap-2">
    <h2>Prix des licences</h2>
    <div class="bg-white rounded-md">
        <table class="w-full border border-gray-300 text-left bg-gray-50 ">
            <thead class="text-white rounded-md bg-linear-to-r from-red-700 to-red-900" >
            <tr>
                <th class="p-2 font-bold  text-center">Catégorie</th>
                <th class="p-2 font-bold  text-center">Compétitions (€ / an)</th>
                <th class="p-2 font-bold  text-center">Loisirs (€ / an)</th>
            </tr>
            </thead>
            <tbody class="rounded-md">
            <tr>
                <td class="p-2 pl-4">Séniors</td>
                <td class="p-2 text-center font-bold">80€</td>
                <td class="p-2 text-center font-bold">50€</td>
            </tr>
            <tr>
                <td class="p-2 pl-4">Vétérans</td>
                <td class="p-2 text-center font-bold">80€</td>
                <td class="p-2 text-center font-bold">50€</td>
            </tr>
            <tr>
                <td class="p-2 pl-4">Junior (né du 01/01/2007 au 31/12/2010)</td>
                <td class="p-2 text-center font-bold">80€</td>
                <td class="p-2 text-center font-bold">50€</td>
            </tr>
            <tr>
                <td class="p-2 pl-4">Autres catégories enfants (né après le 01/01/2011)</td>
                <td class="p-2 text-center font-bold">50€</td>
                <td class="p-2 text-center font-bold">50€</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>