
---
import { Icon } from "astro-icon/components";
---

<div class="flex flex-col items-center">
    <Icon name="mdi:menu" class="icon-burger text-5xl text-white cursor-pointer"/>
    <div class="flex flex-col popover-burger w-full text-white gap-4 items-center">
        <a href="/">ACCUEIL</a>
        <a href="/entrainements">ENTRAINEMENTS</a>
        <a href="/competitions">COMPÉTITIONS</a>
        <a href="/nous-rejoindre">NOUS REJOINDRE</a>
        <a href="/contact">CONTACT</a>
    </div>
</div>


<script>
    document.querySelector(".icon-burger")?.addEventListener("click", () => {
    document.querySelector(".popover-burger")?.classList.toggle("expanded");
});
</script>