---
import Card from "./Card.astro";
---
<div class="flex gap-50 px-50 justify-center">
    <Card title="Actualités" url="/actualites" iconName="mdi:newspaper-variant-multiple-outline"/>
    <Card title="Compétitions" url="/competitions" iconName="mdi:trophy"/>
    <Card title="Entraînements" url="/entrainements" iconName="mdi:table-tennis"/>
</div>