---
import { Icon } from "astro-icon/components";

const {title, offers} = Astro.props;
---
<div class="flex flex-col w-80 shadow-2xl flex-1">
    <h2 class="p-4 bg-linear-to-r from-red-700 to-red-900 text-white">{title}</h2>
    <hr/>
    <div class="flex flex-col gap-2 p-4">  
        {offers.map((offer: string)=>
            <div class="flex items-center gap-2">
                <Icon name="mdi:check"/>
                <p>{offer}</p>
            </div>
        )}  
    </div>
</div>