---
import { Swiper, SwiperWrapper, SwiperButtonPrev, SwiperButtonNext } from "astro-swiper";
import type { AstroSwiperType } from "astro-swiper";
import CarouselItem from "./CarouselItem.astro";

const astroSwiperOptions: AstroSwiperType = {
  options: {
    loop: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    slidesPerView:"auto",
  },
};
---
<div class="flex flex-col m-10 gap-6">
  <h1 class="text-white">Dernières actualités</h1>
  <div class="flex flex-col relative w-180">
    <div>
      <Swiper options={astroSwiperOptions.options} >
        <SwiperWrapper >
          <CarouselItem title="Titre de mon article 1 qui est plus long que l'autre" imageSrc="/images/illu-1.jpg" link="/actualites"/>
          <CarouselItem title="Titre de mon article 2" imageSrc="/images/illu-2.jpg" link="/actualites"/>
        </SwiperWrapper>
        <SwiperButtonPrev />
        <SwiperButtonNext />
      </Swiper>
    </div>
    <div class="bg-red-700 absolute top-[-20px] left-[-10px] w-40 h-30 rounded-sm shadow-2xl shadow-red-700"/>
    <div class="bg-red-700 absolute bottom-[-20px] right-[-10px] w-40 h-30 rounded-sm shadow-2xl shadow-red-700"/>
  </div>
</div>




<style>
  .swiper {
    max-width: 700px;
    aspect-ratio: 16/9;
    border-radius: 10px;
  }

  img {
    width: 100%;
  }
  .swiper-button-next,
.swiper-button-prev {
    right:10px;
    padding: 30px;
    color: white;
}




</style>