---
---
<div class="flex">
    <img class="flex-1 max-w-180 object-cover" src="/images/entrainement-salle.jpg">
    <div class="flex-1">
        <div class=`flex flex-col gap-4 background-pattern-points-red p-20 h-full text-white`>
            <h1>De la compétition pour tous</h1>
            <p class="text-white">Le club permet à tous les joueurs de participer à des compétitions, adapté à tous les niveaux. Le club engage chaque année 5 équipes en championnat départemental par équipes, des équipes en championnat jeunes et également une équipe féminine au niveau départemental. Tous les joueurs souhaitent faire de la compétition sont acceptés peu-importe le niveau, les équipes de D4 sont parfaite pour commencer la compétition en tant que débutant.</p>
            <p class="text-white"> Pour les compétitions individuelles, le club prend en charge les frais d'inscription des compétitions officielles organisés par le CD76 ou autres, comme les championnats individuels ou vétérans. Pour plus d'informations, n'hésitez pas à venir en parler à un membre du bureau !</p>
        </div>
    </div>
</div>



