<div class="flex flex-col gap-10 min-w-150">
    <div class="bg-red-700 p-4">
        <h1 class="text-white">COMPÉTITIONS</h1>
    </div>
    <div class="bg-red-700 p-4 border-l-10 border-white">
        <h3 class="text-white">DES ÉQUIPES POUR TOUS</h3>
    </div>
    <div class="bg-red-700 p-4 border-l-10 border-white">
        <h3 class="text-white">PRATIQUE INDIVIDUELLE ENCOURAGÉ</h3>
    </div>
    <div class="bg-red-700 p-4 border-l-10 border-white">
        <h3 class="text-white">AMBITION ET PLAISIR</h3>
    </div>
</div>