---
import { Icon } from 'astro-icon/components';

const { name, url } = Astro.props;
---

<a
  href={url}
  target="_blank"
  class="bg-white rounded-md p-4 w-fit shadow-md hover:bg-gray-100 flex gap-4 items-center border-1 border-gray-500"
>
  <h4 class="italic">{name}</h4>
  <Icon name="mdi:download" />
</a>
