---
import image from "../images/entrainement-2.jpeg";
---
<div class="flex px-20 items-center">
    <img class="flex-1 max-w-150 max-h-100 object-cover py-10" src={image.src}>
    <div class="flex-1">
        <div class=`flex flex-col gap-4 p-20 h-full`>
            <h1 class="text-red-700">Des entraînements adaptés</h1>
            <p>Le club propose plusieurs créneaux d'entraînements encadrés par des entraineurs diplômés. Ils sont adaptés à tout niveaux et permettent de progresser à son rythme.</p>

        </div>
    </div>
</div>



