---
import logoYainville from "../images/yainville.png";
import logoTrait from "../images/letrait.png";
import logoCD76 from "../images/cd76tt.png";
import logoFFTT from "../images/fftt.png";
import { Icon } from "astro-icon/components";
---
<div class="flex w-full bg-black p-4 justify-between items-center text-white">
    <div class="flex flex-col text-sm">
        <a href="/contact"><p class="hover:underline">Mentions légales</p></a>
        <a href="/contact"><p class="hover:underline">Politique de confidentialité</p></a>
    </div>
    <div class="flex flex-col">
        <a href="https://facebook.com/groups/LTYPongiste" target="_blank" class="flex gap-2">
            <Icon name="mdi:facebook" class="text-2xl"/>
            <h4>Le Trait Yainville Pongiste</h4>
        </a>
        <p class="text-xs">Copyright © 2025 LTYP. Tous droits réservés.</p>
    </div>
    <div class="flex gap-4 ">
        <img class="h-20" src={logoFFTT.src}>
        <img class="h-20" src={logoCD76.src}>
        <img class="h-20" src={logoYainville.src}>
        <img class="h-20" src={logoTrait.src}>
    </div>

</div>