---

---
<div class="flex flex-col gap-2 background-pattern-points-red py-10 px-20">
    <h1 class="text-white">Formules proposées</h1>
    <p class="text-white">En fonction de votre pratique, nous proposons deux formules :</p>
    <table class="w-full border border-gray-300 text-left bg-gray-200 ">
        <thead class="bg-gray-100 rounded-md" >
        <tr>
            <th class="p-2 border font-bold">Prestation</th>
            <th class="p-2 min-w-40 border text-center font-bold">Compétitions</th>
            <th class="p-2 min-w-40 border text-center font-bold">Loisirs</th>
        </tr>
        </thead>
        <tbody class="rounded-md">
        <tr>
            <td class="p-2 border">Entraînements</td>
            <td class="p-2 border text-center">✔</td>
            <td class="p-2 border text-center">✔</td>
        </tr>
        <tr>
            <td class="p-2 border">Tournois internes</td>
            <td class="p-2 border text-center">✔</td>
            <td class="p-2 border text-center">✔</td>
        </tr>
        <tr>
            <td class="p-2 border">Championnats par équipes</td>
            <td class="p-2 border text-center">✔</td>
            <td class="p-2 border text-center">✘</td>
        </tr>
        <tr>
            <td class="p-2 border">Compétitions individuelles officielles (critériums, vétérans...)</td>
            <td class="p-2 border text-center">✔</td>
            <td class="p-2 border text-center">✘</td>
        </tr>
        <tr>
            <td class="p-2 border">Prêt du maillot et survêtements</td>
            <td class="p-2 border text-center">✔</td>
            <td class="p-2 border text-center">✘</td>
        </tr>
        <tr>
            <td class="p-2 border">Événements internes (repas etc)</td>
            <td class="p-2 border text-center">✔</td>
            <td class="p-2 border text-center">✔</td>
        </tr>
        </tbody>
    </table>
</div>