---
import Card from "./Card.astro";

---
<div class="flex flex-col">
    <svg
    class="w-full h-24 pt-10"
    viewBox="0 0 1440 150"
    preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0,0 C370,100 1080,100 1440,0 L1440,150 L0,150 Z"
      fill="white"
    />
  </svg>
  <div class="flex bg-white px-80 justify-center items-center">
    <div>
        <h1>Un club familial pour tous</h1>
        <p>Le Trait Yainville Pongiste est un club familial pour tous. Que vous souhaitiez taper la balle pour le plaisir, ou participer à des compétitions par équipes ou individuelles, vous trouverez votre place. Avec plusieurs créneaux d'entrainements et de nombreuses équipes engagées au niveau département et régional, vous progresserez à votre rythme. </p>
    </div>
    <img class="w-50 h-50" src="/images/raquette.png">
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d648.3817552513493!2d0.8299752696840171!3d49.45565586998061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDnCsDI3JzIwLjQiTiAwwrA0OSc1MC4yIkU!5e0!3m2!1sfr!2sfr!4v1753190874301!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->

  </div>
  <div class="flex">
    <Card/>
  </div>
</div>