
    <div class="flex background-pattern-points-red px-100 py-10 justify-center items-center gap-30">
        <div class="flex flex-col gap-5">
            <h1 class="text-white">Informations concernant l'adhésion</h1>
        </div>
      </div>
    </div>
