---
import Button from "./Button.astro";

---
<div class="flex flex-col gap-10 items-center py-30">
    <h1 class="text-white">Vous souhaitez découvrir et progresser en tennis de table ?</h1>
    <Button text="Rejoignez-nous" link="/nous-rejoindre"/> 
</div>