---
import DocumentLink from "./DocumentLink.astro";
---

<div class="flex flex-col gap-2">
    <h1>Bordereau d'adhésion</h1>
    <div class="flex flex-col bg-white rounded-md p-4 gap-2">
        <p>Disponible à la demande à un membre du bureau sur les différents créneaux d'entrainements ou à télécharger ici : </p>
        <DocumentLink name="Bordereau d'adhésion" url="https://www.fftt.com/doc/administratif/documents/25-2-licence.pdf"/>
    </div>

</div>