---
import Button from "./Button.astro";


---
<div class="flex flex-col max-w-lg gap-6">
    <div class="flex gap-10 items-center">
        <h1 class="flex-col">
            <span class="text-white text-5xl md:text-7xl xl:text-5xl 2xl:text-7xl">LE TRAIT</span>
            <span class="text-white text-5xl md:text-7xl xl:text-5xl 2xl:text-7xl">YAINVILLE</span>
            <span class="text-red-700  text-5xl md:text-7xl xl:text-5xl 2xl:text-7xl">PONGISTE</span>
        </h1>
    </div>
    <p class="text-gray-200 font-medium">Au sein des communes du Trait et de Yainville, en Normandie, notre club familial permet à tous de pratiquer dans la bonne humeur tout en progressant, que ce soit en loisir ou en compétition</p>
    <Button text="Nous rejoindre" link="/nous-rejoindre"/>
</div>



