---

---
<div class="flex-col">
    <div class="flex gap-10 items-center">
        <div class="flex-col text-7xl">
            <p class="text-white font-title">LE TRAIT</p>
            <p class="text-white font-title">YAINVILLE</p>
            <p class="text-red-700 font-title">PONGISTE</p>
        </div>
        <img class="w-42 h-50" src="/logo.png">
    </div>
    <p class="text-white text-lg font-presentation mt-5 font-medium">Club de tennis de table des communes du Trait et de Yainville</p>
</div>



