---
import DocumentLink from "./DocumentLink.astro";
---

<div class="flex flex-col gap-2">
    <h1>Questionnaire médical ou certificat</h1>
    <div class="flex flex-col bg-white rounded-md p-4 gap-4">
        <p>Que vous soyez mineur ou majeur, vous devez remplir un auto-questionnaire de santé selon votre âge (mineur ou majeur). Ce questionnaire est obligatoire et vous permez de savoir si vous devez fournir un certificat médical ou non selon votre état de santé. De plus, si vous êtes vétéran, vous devez obligatoirement tous les 5 ans (à chaque changement de catégorie vétérant) fournir un certificat médical rempli par votre médecin. </p>
        <div class="flex gap-4">
            <DocumentLink name="Auto-questionnaire majeur" url="https://www.fftt.com/doc/administratif/documents/25-10-1-autoquestionnaire-medical-majeur.pdf"/>
            <DocumentLink name="Auto-questionnaire mineur" url="https://www.fftt.com/doc/administratif/documents/25-10-2-autoquestionnaire-medical-mineur.pdf"/>
            <DocumentLink name="Certificat médical" url="https://www.fftt.com/doc/administratif/documents/25-9-certificat.pdf"/>
        </div>
    </div>
</div>