---


---


  <div class="flex bg-white px-100 py-25 justify-center items-center gap-30">
    <div class="flex flex-col gap-5">
        <h1 class="text-red-700">Le ping dans la bonne humeur</h1>
        <p class="text-lg">Le Trait Yainville Pongiste, c’est l’esprit club dans une ambiance conviviale ! Que vous soyez débutant ou joueur confirmé, en loisir ou en compétition, chacun y trouve sa place. Avec plusieurs créneaux d’entraînement et des équipes engagées au niveau départemental et régional, vous progressez à votre rythme, tout en prenant du plaisir à jouer.</p>
    </div>
    <img class="w-100 h-50 rounded-md" src="/logo.png">
  </div>
</div>