---


---


  <div class="flex bg-gray-200 px-80 py-6 justify-center items-center border-y-4 border-red-600 shadow-[0_-4px_6px_-2px_rgba(220,38,38,0.5)] gap-30">
    <div>
        <h1 class="text-red-700">Un club familial pour tous</h1>
        <p>Le Trait Yainville Pongiste est un club familial pour tous. Que vous souhaitiez taper la balle pour le plaisir, ou participer à des compétitions par équipes ou individuelles, vous trouverez votre place. Avec plusieurs créneaux d'entrainements et de nombreuses équipes engagées au niveau département et régional, vous progresserez à votre rythme. </p>
    </div>
    <img class="w-90 h-40 rounded-md" src="/images/illustration.png">
  </div>
</div>