---
import Button from "./Button.astro";


const { title, description, imageUrl, linkUrl, reverse } = Astro.props;
---
<div class=`background-pattern flex ${reverse ? "flex-row-reverse" : "flex-row"} items-center px-100 py-20 gap-50`>
    <div class="flex flex-col flex-1 gap-5">
        <h1 class="text-white">{title}</h1>
        <p class="text-md text-neutral-200">{description}</p>
        <Button text="Plus d'infos" link={linkUrl}/>
    </div>
    <div class="relative">
      <div class=`bg-black absolute top-[-20px] ${reverse && "left-[-20px]"} ${!reverse &&  "right-[-20px]"}  w-40 h-30 rounded-sm shadow-2xl shadow-black`/>
      <div class=`bg-black absolute bottom-[-20px] ${reverse && "right-[-20px]"} ${!reverse && "left-[-20px]"} w-40 h-30 rounded-sm shadow-2xl shadow-black`/>
      <img class="max-h-120 max-w-120 relative rounded-md" src={imageUrl}>
    </div>
</div>

<style>
 .background-pattern{
  z-index:0;
  background-color:#9f0712;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='black' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
 }
</style>