---
---

<div class=`flex flex-col gap-4 rounded-md bg-gray-50 p-6`>
    <h2 class="text-red-700">Créneaux</h2>
    <table class="w-full border border-gray-300 text-left bg-gray-200 ">
        <thead class="bg-gray-100 rounded-md" >
        <tr>
            <th class="p-2 border">Catégorie</th>
            <th class="p-2 border">Jour</th>
            <th class="p-2 border">Heure</th>
            <th class="p-2 border">Lieu</th>
        </tr>
        </thead>
        <tbody class="rounded-md">
        <tr>
            <td class="p-2 border">Entraînement jeunes (7-17 ans) dirigé par Yannick</td>
            <td class="p-2 border">Mardi</td>
            <td class="p-2 border ">18h00 – 19h30</td>
            <td class="p-2 border ">Yainville</td>
        </tr>
        <tr>
            <td class="p-2 border">Entraînement adultes dirigé par Yannick</td>
            <td class="p-2 border">Mardi</td>
            <td class="p-2 border">19h30 – 21h30</td>
            <td class="p-2 border ">Yainville</td>
        </tr>
        <tr>
            <td class="p-2 border">Entraînement ouvert à tous dirigé par Alain</td>
            <td class="p-2 border">Jeudi</td>
            <td class="p-2 border">19h15 – 21h15</td>
            <td class="p-2 border ">Le Trait</td>
        </tr>
        </tbody>
    </table>
    <div class="flex flex-col gap-2 text-black">
        <p>L'entraînement adultes du jeudi est plus adapté aux débutants.</p>
        <p>Il est possible sur toutes les séances d'entraînements de pratiquer du jeu libre.</p>
        <p>La salle est également ouverte sur d'autres créneaux occasionnellement.</p>
    </div>
    </div>
</div>


