<div class="flex flex-col gap-10 min-w-150">
  <div class="bg-red-700 p-4">
    <h1 class="text-white">ENTRAINEMENTS</h1>
  </div>
  <div class="bg-red-700 p-4 border-l-10 border-white">
    <h3 class="text-white">PLUSIEURS CRÉNEAUX</h3>
  </div>
  <div class="bg-red-700 p-4 border-l-10 border-white">
    <h3 class="text-white">ENTRAINEMENT SPÉCIFIQUE POUR LES JEUNES</h3>
  </div>
  <div class="bg-red-700 p-4 border-l-10 border-white">
    <h3 class="text-white">ENTRAINEURS DIPLOMÉS</h3>
  </div>
</div>
