---
import image from '../../images/entrainement-2.webp';
---

<div class="flex flex-col lg:flex-row-reverse px-10 lg:px-20 items-center">
  <div class="flex-1">
    <div class=`flex flex-col gap-4 pt-10 lg:p-20 h-full`>
      <h2 class="text-red-700">Des entraînements adaptés</h2>
      <p>
        Le club propose plusieurs créneaux d'entraînements encadrés par des
        entraineurs diplômés. Ils sont adaptés à tout niveaux et permettent de
        progresser à son rythme.
      </p>
    </div>
  </div>
  <img
    class="flex-1 lg:max-w-150 max-h-80 object-cover my-10 rounded-sm"
    src={image.src}
  />
</div>
