---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import HomeBurger from '../components/HomeBurger.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Special+Gothic+Condensed+One&family=Special+Gothic+Expanded+One&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Le Trait Yainville Pongiste</title>
  </head>
  <body
    class="bg-[url('data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20width%3D%2728%27%20height%3D%2749%27%20viewBox%3D%270%200%2028%2049%27%3E%3Cg%20fill-rule%3D%27evenodd%27%3E%3Cg%20id%3D%27hexagons%27%20fill%3D%27%23999%27%20fill-opacity%3D%270.2%27%20fill-rule%3D%27nonzero%27%3E%3Cpath%20d%3D%27M13.99%209.25l13%207.5v15l-13%207.5L1%2031.75v-15l12.99-7.5zM3%2017.9v12.7l10.99%206.34%2011-6.35V17.9l-11-6.34L3%2017.9zM0%2015l12.98-7.5V0h-2v6.35L0%2012.69v2.3zm0%2018.5L12.98%2041v8h-2v-6.85L0%2035.81v-2.3zM15%200v7.5L27.99%2015H28v-2.31h-.01L17%206.35V0h-2zm0%2049v-8l12.99-7.5H28v2.31h-.01L17%2042.15V49h-2z%27/%3E%3C/g%3E%3C/g%3E%3C/svg%3E')] bg-black"
  >
    <Header />
    <div class="flex px-10 xl:hidden pt-4">
      <HomeBurger />
    </div>
    <slot />
    <Footer />
  </body>
</html>
